@using BankDashboard.CBModel;
@using BankDashboard.Common;
@{
    Layout = null;
    Tbl_User_Detail user = new Tbl_User_Detail();
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/Content/Sidebar.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bodyOptimizer.css" rel="stylesheet" />
    <title>BankMuscat::Chargeback</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="~/dragableCss/jquery-ui.css" />
    <link href="~/Scripts/dt/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <style>
        #example thead {
            background-color: #0d274d;
        }

        .submenu li a:hover {
            background-color: #f12928;
            font-size: 13px;
        }

        .pagetilte {
            font-family: sans-serif;
            color: #f12928;
            font-weight: bold;
        }

        .submenu a.active {
            background-color: #f12928;
            color: white;
            font-size: 13px;
            font-family: inherit;
            font-weight: bold;
            text-decoration: none;
        }

        .submenu li a {
            padding-left: 38px;
            font-size: 12px;
        }

        .submenu li {
            list-style: none;
        }



        .submenu {
            display: none;
        }



        .show {
            display: block;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark  fixed-top" style="background-color: #fff;height: 67px">
        <div class="col-md-2">
            <img src="~/Images/logo-bank.jpg" class="card-img" style="width: 169px;height: 108px;margin-top: -11px; margin-left: -14px;" />
        </div>
        <div class="col-md-1">
            <a class="navbar-brand" href="#" id="toggleMenu" style="margin-left: -26px;">
                <img src="~/Images/ham.png" height="35" style="margin-top: -18px;" />
            </a>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4" style="text-align: center;">
            <img src="~/Images/user1.png" style="height: 33px; margin-top: -9px;" />
            @if (Session["User"] != null)
            {
                user = (Tbl_User_Detail)Session["User"];
                <b style="color:#6d7979;font-size:21px">@Session["USerName"]</b>
                <b style="color:#6d7979;font-size:12px">(@user.Usergroup)</b>
            }


        </div>
        <div class="col-md-1">
            <a href="/app/LogIn/Logout">
                @*<img src="~/Images/Logout.png"  />*@
                <img src="~/Images/Logout1.png" height="37" alt="Logout" style="margin-bottom: 3px;" />
            </a>
        </div>
    </nav>
    <nav class="nav2">

    </nav>

    <div class="container-fluid" style=" margin-top:33px">
        <div class="row">
            <div class="col-md-2" style="margin-left: -14px;" id="sideDiv">
                <ul class="sidebar">
                    @if (Session["User"] != null && ((Tbl_User_Detail)Session["User"]).Usergroup.Trim().Equals(Constants.UserGroups.UserManager))
                    {
                        <li>
                            <a href="#" id="dash1" style="background-color: #6f5d5d;">
                                <img src="~/Images/dashboard.png" />Dashboard
                            </a>
                            <ul class="submenu @ViewBag.Dashboard" id="dash">
                                <li>
                                    <a href="/app/CB/UserManagement" class="@ViewBag.userManagement">
                                        <img src="~/Images/UserSetting.png" />User Management
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="#" id="dash1" style="background-color: #6f5d5d;">
                                <img src="~/Images/dashboard.png" />Dashboard
                            </a>
                            <ul class="submenu @ViewBag.Dashboard" id="dash">
                                <li>
                                    @if (!string.IsNullOrEmpty(user.GroupPages) && user.GroupPages.Contains("CaseStat"))
                                    {
                                        <a href="/app/CB/Index" class="@ViewBag.botstat">
                                            <img src="~/Images/bot.png" /> Case Statistics
                                        </a>
                                    }
                                </li>
                                <li>
                                    @if (!string.IsNullOrEmpty(user.GroupPages) && user.GroupPages.Contains("WCStat"))
                                    {
                                        <a href="/app/CB/WC" class="@ViewBag.wcarestat">
                                            <img src="~/Images/wc.png" height="26" /> WC Statistics
                                        </a>
                                    }
                                </li>
                                <li>
                                    @if (!string.IsNullOrEmpty(user.GroupPages) && user.GroupPages.Contains("SLA"))
                                    {
                                        <a href="/app/CB/SLA" class="@ViewBag.SLAStat">
                                            <img src="~/Images/stat.png" height="26" /> SLA Status
                                        </a>
                                    }
                                </li>
                                </ul>
                            </li>

                            <li>
                                <a href="#" id="rep" style="background-color: #6f5d5d;">
                                    <img src="~/Images/report1.png" />Report
                                </a>
                                <ul class="submenu @ViewBag.Report" id="rep1">
                                    <li>
                                        @if (!string.IsNullOrEmpty(user.GroupPages) && user.GroupPages.Contains("CaseHistory"))
                                        {
                                            <a href="/app/CB/CaseHistory" class="@ViewBag.casehistrory">
                                                <img src="~/Images/casedetail.png" />Case History
                                            </a>
                                        }
                                        </li>
                                    <li>
                                        @if(!string.IsNullOrEmpty(user.GroupPages) && user.GroupPages.Contains("CaseClosure"))
                                        {
                                            <a href="/app/CB/ClosureReport" class="@ViewBag.ClosureReport">
                                                <img src="~/Images/closure.png" />Accepted Case &nbsp;Closure
                                            </a>
                                        }
                                        </li>
                                    <li>
                                        @if (!string.IsNullOrEmpty(user.GroupPages) && user.GroupPages.Contains("MtchedTran"))
                                        {
                                            <a href="/app/CB/MatchedFinTransaction" class="@ViewBag.matchedTran">
                                                <img src="~/Images/mtran.png" height="26" />Matched Tran
                                            </a>
                                        }
                                        </li>
                                    <li>
                                        @if (!string.IsNullOrEmpty(user.GroupPages) && user.GroupPages.Contains("UnmtchedTran"))
                                        {
                                            <a href="/app/CB/UnmatchedFinTransaction" class="@ViewBag.UnmatchedTran">
                                                <img src="~/Images/umtran.png" height="26" />Unmatched Tran
                                            </a>
                                        }
                                        </li>
                                    <li>
                                        @if (!string.IsNullOrEmpty(user.GroupPages) && user.GroupPages.Contains("Recon"))
                                        {
                                            <a href="/app/CB/ReconsiliationReport" class="@ViewBag.Reconsiliation">
                                                <img src="~/Images/recon.png" height="26" />Reconciliation
                                            </a>
                                        }
                                        </li>
                                    @*<li>
                                            <a href="#home">
                                                <img src="~/Images/bot.png" height="26" />BOT Config
                                            </a>
                                        </li>*@
                                </ul>
                            </li>
                        }


                </ul>


            </div>
            <div class="col-md-10" id="contentDiv">
                <div class="card" id="mainbody">
                    @RenderBody()
                </div>
                <div style="width:100%">
                    @if (TempData["Success"] != null)
                    {
                        <div id="success">
                            <b style="color:white">@TempData["Success"]</b>
                        </div>
                    }
                    @if (TempData["Error"] != null)
                    {
                        <div id="error">
                            <b style="color:white">@TempData["Error"]</b>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <footer style="position: relative;top: 400px;">
        <hr />
        <p><center style="font-size:9px">&copy; @DateTime.Now.Year - Grid Infocom Pvt. Ltd.</center></p>
    </footer>


    @RenderSection("scripts", required: false)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/dt/js/jquery.dataTables.min.js"></script>
    <script src="~/Js/jspdf.js"></script>

    <script>
        $(document).ready(function () {
            $("#success").fadeOut(4000);
            $("#error").fadeOut(4000);
            //----------------------------------------------------------------------------------------------
            $("#p1").attr("style", "width:" + $("#xp1").val() + "%")
            $("#p2").attr("style", "width:" + $("#xp2").val() + "%")
            $("#p3").attr("style", "width:" + $("#xp3").val() + "%")
            $("#p4").attr("style", "width:" + $("#xp4").val() + "%")
            //--------------------------------------------------------------------------------------
            var table = $('#example').DataTable();
            $('#example tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
            });


            $('.Count').each(function () {
                var $this = $(this);
                jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
                    duration: 1000,
                    easing: 'swing',
                    step: function () {
                        $this.text(Math.ceil(this.Counter));
                    }
                });
            });


            $('#toggleMenu').on('click', function () {
                $('#sideDiv').toggleClass('NoSidebar');
                $('#contentDiv').toggleClass('col-md-12')
            });

            $(".invoice").datepicker(
                {
                    dateFormat: 'dd-M-yy',
                    timepicker: false,

                }
            );
        });

        $(function () {
            $(".meter > span").each(function () {
                $(this)
                    .data("origWidth", $(this).width())
                    .width(0)
                    .animate({
                        width: $(this).data("origWidth")
                    }, 1200);
            });
        });
        $("#dash1").click(function () {
            $("#dash").toggleClass("show")

        })
        $("#rep").click(function () {
            $("#rep1").toggleClass("show")
        })
    </script>
    <script>

        (function () {
            var
                form = $('#mainbody'),
                cache_width = form.width(),
                a4 = [595.28, 841.89]; // for a4 size paper width and height

            $('#create_pdf').on('click', function () {
                $('body').scrollTop(0);
                createPDF();
            });
            //create pdf
            function createPDF() {
                $('.card-header').hide();
                getCanvas().then(function (canvas) {
                    var
                        img = canvas.toDataURL("image/png"),
                        doc = new jsPDF({
                            unit: 'px',
                            format: 'a4'
                        });
                    doc.addImage(img, 'JPEG', 20, 20);
                    doc.save('Report.pdf');
                    form.width(cache_width);
                });
                $('.card-header').show();
            }

            // create canvas object
            function getCanvas() {
                form.width((a4[0] * 1.33333) - 80).css('max-width', 'none');
                return html2canvas(form, {
                    imageTimeout: 2000,
                    removeContainer: true
                });
            }

        }());

    </script>
</body>
</html>
