@using BankDashboard.Common;
@{
    ViewBag.Title = "Case History/Detail";
    Layout = "~/Views/Shared/_CBLayout.cshtml";
    ViewModelClass.FilterClass filterobj = (ViewModelClass.FilterClass)ViewBag.filter;
}
<style>
    .form-control {
        height: calc(1.5em + -0.4rem + 10px);
    }

    #inputheader .form-control {
        font-size: 12px;
    }

    #example {
        text-align: center
    }

    .col-sm-2 span {
        font-weight: bold;
        font-size: 13px;
        color: #61605d;
    }

    #inputheader {
        font-size: 10px;
        text-align: center;
    }

        #inputheader th {
            width: 14.28%;
        }

    .col-sm-3 .invoice {
        height: 27px;
        width: 164px;
    }

    .btnImg {
        height: 13px
    }
</style>
<div class="card-header">
    <div class="row">
        <div class="col-sm-2">
            <h4 style="color:#758484"></h4>
        </div>
        <div class="col-sm-8"></div>
        <div class="col-sm-2">
            <form action="@System.Web.Configuration.WebConfigurationManager.AppSettings["applicationname"].ToString().Trim()/FD/GetExcel" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" value="@Json.Encode(filterobj)" name="hfilter" />
                <button class="btn btn-success" type="submit">
                    <img src="~/Images/exl.png" style="height: 19px;" />Export
                </button>
            </form>
        </div>
    </div>
</div>
<div class="card-body">
    <form action="@System.Web.Configuration.WebConfigurationManager.AppSettings["applicationname"].ToString().Trim()/CB/CaseHistory" method="post">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-2">
                <span> From Date:</span>
                @if (filterobj == null)
                {
                    <input type="text" class="form-control invoice" autocomplete="off" name="Fromdate" />
                }
                else
                {
                    <input type="text" class="form-control invoice" value="@filterobj.Fromdate" autocomplete="off" name="Fromdate" />
                }

            </div>
            <div class="col-sm-2">
                <span> To Date:</span>
                @if (filterobj == null)
                {
                    <input type="text" class="form-control invoice" autocomplete="off" name="Todate" />
                }
                else
                {
                    <input type="text" class="form-control invoice" value="@filterobj.Todate" autocomplete="off" name="Todate" />
                }
            </div>
            <div class="col-sm-2">
                <span> Feedback ID:</span>
                @if (filterobj == null)
                {
                    <input type="text" class="form-control" autocomplete="off" name="FeefbackID" />
                }
                else
                {
                    <input type="text" class="form-control" value="@filterobj.FeedbackID" autocomplete="off" name="FeefbackID" />
                }
                </div>
            <div class="col-sm-3">
                <button class="btn btn-sm btn-success" type="submit" style="margin-top: 19px;background-color: #2193b5;">Find</button>
                <a class="btn btn-sm btn-secondary" href="/app/CB/CaseHistory" style="margin-top: 19px;">Reset</a>
            </div>
        </div>
    </form>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table id="example" class="table-bordered table table-striped table-condensed">
                <thead style="background-color:#1d40b1;color:white;text-align: center;">
                    <tr>
                        <th>Feedback Id</th>
                        <th style="    width: 125px;">Issue Type</th>
                        <th>Category</th>
                        <th>CIF No</th>
                        <th>Banking With</th>
                        <th>Incident Date</th>
                        <th>Amount</th>
                        <th>Associated By Bot</th>
                        <th>Remarks</th>
                        <th width="78">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.list != null)
                    {
                        foreach (var item in ViewBag.list)
                        {
                            <tr>
                                <td>@item.FeedbackID</td>
                                <td>@item.Issue</td>
                                <td>@item.Category</td>
                                <td>@item.CIFNo</td>
                                <td>@item.BankingWith</td>
                                <td>@item.IncidentDate</td>
                                <td>@item.Amount</td>
                                <td>@item.DeviceNo</td>
                                <td>@item.FeedbackID</td>
                                <td>
                                    <button class="btn tbn-sm btn-info" data-toggle="tooltip" data-placement="bottom" title="View">
                                        <img class="btnImg" src="~/Images/view.png" />
                                    </button>
                                    <button class="btn tbn-sm btn-success" data-toggle="tooltip" data-placement="bottom" title="Detail" style="background-color:#cc6014">
                                        <img class="btnImg" src="~/Images/detail.png" />
                                    </button>
                                </td>
                            </tr>

                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
