@using BankDashboard.Common;
@{
    /**/

    ViewBag.Title = "View From";
    Layout = "~/Views/Shared/_CBLayout.cshtml";
    ViewModelClass.BOtStatModel botstatobj = (ViewModelClass.BOtStatModel)ViewBag.casestat;
    ViewModelClass.CaseFilter filter = new ViewModelClass.CaseFilter();
}
<script src="~/JavaScript/mdb/mdb.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<style>
    #tblx1 th {
        text-align: right;
    }

    #tblx1 td {
        text-align: center;
        font-weight: bold
    }

    .btn-light {
        border-radius: 5px;
        height: 36px;
        border: solid;
        color: #ff5200;
        margin-top: -2px;
    }

        .btn-light:hover {
            border: solid;
            color: #ff5200;
        }

    .textlbl {
        float: left;
        font-weight: bold;
        color: #86817b;
    }

    .form-control {
        height: 27px;
        width: 159px;
        font-size: 13px;
        font-weight: bold;
        color: #7f7571
    }

    .btn-sm img {
        height: 26px;
    }

    .progress {
        width: 0px;
        height: 27px;
        transition-property: width;
        transition-duration: 1s;
        border-color: #c5acb1;
        border: none;
        border-width: 1px;
        border-radius: 0px;
    }

        .progress b {
            padding-left: 50%;
            padding-right: 50%;
            padding-top: 10px;
            color: white;
        }

    .pbar1 {
        background: url(/Images/greentexture.PNG);
        border-right: none;
    }

    .pbar2 {
        background: url(/Images/bluetexture.PNG);
        border-right: none;
        border-left: none;
    }

    .pbar3 {
        background: url(/Images/redtexture.PNG);
        background-color: red;
        border-left: none;
    }

    .pbar4 {
        background: url(/Images/greytexture.PNG);
        background-color: #5e5858;
        border-left: none;
    }

    table {
        text-align: center;
    }
</style>
@if (botstatobj.castStatFigures != null)
{
    if (TempData["filter"] != null)
    {
        filter = (ViewModelClass.CaseFilter)TempData["filter"];
    }
    <div class="card-header" style="text-align:center">
        <span class="pagetilte">Case Status</span>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 p-3">
                <div class="shadow card">
                    <div class="card-header">
                        <form action="@System.Web.Configuration.WebConfigurationManager.AppSettings["applicationname"].ToString().Trim()/CB/GetFilterData" method="post">
                            <div class="row">
                                <div class="col-md-8">

                                    <input type="hidden" name="Flag" value="@botstatobj.flag" />
                                    <table style=" color: #5d5d55; font-size: 12px;">
                                        <tr>
                                            <th>From:</th>
                                            <td>
                                                <input type="text" class="form-control invoice" value="@filter.Fromdate" autocomplete="off" name="Fromdate" />
                                            </td>
                                            <th style="padding-left: 21px;">To:</th>
                                            <td>
                                                <input type="text" class="form-control invoice" value="@filter.Todate" autocomplete="off" name="Todate" />

                                            </td>
                                            <th style="padding-left: 21px;">Filter:</th>
                                            <td>
                                                <select class="form-control" name="Filter" style="padding: 0px;">
                                                    @if (filter.Filter != null)
                                                    {
                                                        <option value="@filter.Filter" selected hidden>@filter.Filter</option>
                                                    }
                                                    <option value="">Select</option>
                                                    <option value="Processed">Processed</option>
                                                    <option value="BusinessRuleException">BusinessRuleException</option>
                                                    <option value="ApplicationException">ApplicationException</option>
                                                    <option value="Unprocessed">Unprocessed</option>
                                                </select>
                                            </td>
                                            <td style="padding-left: 21px;"> <input type="submit" value="Find" name="submit" class="btn btn-sm btn-info" /></td>
                                            <td>    <a class="btn btn-sm btn-secondary" href="/app/CB/CaseViewFrom?getval=1">Reset</a></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-3">
                                    <button class="btn btn-sm btn-light" value="Excel" name="Excel" type="submit">
                                        Export<img style="background-color: #57b362;border-radius: 3px;margin-left: 3px;margin-top: -3px;" src="~/Images/exl.png" />
                                    </button>
                                    <a href="#" class="btn btn-sm btn-light" id="create_pdf">
                                        Export<img src="~/Images/pdf.png" />
                                    </a>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="card-body">

                        <div class="col-sm-11 row">
                            <div class="pbar1 progress" id="p1" data-toggle="tooltip" data-placement="top" title="Processed">
                                <input type="hidden" value="@botstatobj.castStatFigures[4]" id="xp1" />
                                <b class="Count">@botstatobj.castStatFigures[0]</b>
                            </div>
                            <div class="pbar2 progress" id="p2" data-toggle="tooltip" data-placement="top" title="Business Rule Exception">
                                <input type="hidden" value="@botstatobj.castStatFigures[5]" id="xp2" />
                                <b class="Count">@botstatobj.castStatFigures[1]</b>
                            </div>
                            <div class="pbar3 progress" id="p3" data-toggle="tooltip" data-placement="top" title="Application Exception">
                                <input type="hidden" value="@botstatobj.castStatFigures[6]" id="xp3" />
                                <b class="Count">@botstatobj.castStatFigures[2]</b>
                            </div>
                            <div class="pbar4 progress" id="p4" data-toggle="tooltip" data-placement="top" title="Unprocessed">
                                <input type="hidden" value="@botstatobj.castStatFigures[7]" id="xp4" />
                                <b class="Count">@botstatobj.castStatFigures[3]</b>
                            </div>
                        </div>
                        <br />
                        <div class="col-sm-11 row">
                            <table style=" color: #7f7571;font-size: 14px;height: 107px;text-align:left">
                                <tr>
                                    <td style="width: 36px;"><div style="height: 16px;background:url(/Images/greentexture.PNG);width: 16px;"></div></td>
                                    <th>Processed :  @botstatobj.castStatFigures[0]</th>
                                    <th> </th>
                                </tr>
                                <tr>
                                    <td><div style="height: 16px;background:url(/Images/bluetexture.PNG);width: 16px;"></div></td>
                                    <th>Business Rule Exception :   @botstatobj.castStatFigures[1]</th>
                                    <th> </th>
                                </tr>
                                <tr>
                                    <td><div style="height: 16px;background:url(/Images/redtexture.PNG);;width: 16px;"></div></td>
                                    <th>Application Exception :  @botstatobj.castStatFigures[2]</th>
                                    <th> </th>
                                </tr>
                                <tr>
                                    <td><div style="height: 16px;background:url(/Images/greytexture.PNG);width: 16px;"></div></td>
                                    <th>Unprocessed :   @botstatobj.castStatFigures[3]</th>
                                    <th> </th>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div class="card-footer">
                        <b style="color:#6d7979;font-size:12px">Showing data from @botstatobj.castStatFigures[8]</b>
                    </div>
                </div>

            </div>

            <div class="col-sm-12">
                <table id="example" class="table-bordered table table-striped table-condensed" style="font-size: 12px;">
                    <thead style="color:white;text-align: center;">
                        <tr>
                            <th>Feedback Id</th>
                            <th>Issue Type</th>
                            <th>Status</th>
                            <th>Reason</th>
                            <th>Bot Entry Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.list != null)
                        {
                            string date = "";
                            foreach (var item in (List<BankDashboard.CBModel.tbl_UnassignedTickets>)ViewBag.list)
                            {
                                date = item.BotDataEntryTime != null ? Convert.ToDateTime(item.BotDataEntryTime).ToString("MM/dd/yyyy"):"--";
                                <tr>
                                    <td>@item.FeedbackId</td>
                                    <td>@item.Issue</td>
                                    <td>@item.Status</td>
                                    <td>@item.BotRemarks</td>
                                    <td>@date</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else if (botstatobj.RoutingPortalFigures != null)
{
    if (TempData["filter"] != null)
    {
        filter = (ViewModelClass.CaseFilter)TempData["filter"];
    }
    <div class="card-header" style="text-align:center">
        <span class="pagetilte">Routing Portal Statistics</span>
    </div>

    <div class="col-sm-12 p-3">
        <div class="shadow card">
            <div class="card-header">
                <form action="@System.Web.Configuration.WebConfigurationManager.AppSettings["applicationname"].ToString().Trim()/CB/GetFilterData" method="post">

                    <div class="row">

                        <div class="col-md-8">

                            <input type="hidden" name="Flag" value="@botstatobj.flag" />
                            <table style=" color: #5d5d55; font-size: 12px;">
                                <tr>
                                    <th>From:</th>
                                    <td> <input type="text" class="form-control invoice" value="@filter.Fromdate" autocomplete="off" name="Fromdate" /></td>
                                    <th style="padding-left: 21px;">To:</th>
                                    <td> <input type="text" class="form-control invoice" value="@filter.Todate" autocomplete="off" name="Todate" /></td>
                                    <th style="padding-left: 21px;">Filter:</th>
                                    <td>
                                        <select class="form-control" name="filter" style="padding: 0px;">
                                            <option value="">Select</option>
                                            @if (!string.IsNullOrEmpty(filter.Filter))
                                            {
                                                <option value="@filter.Filter" selected hidden>@filter.Filter</option>
                                            }
                                            <option value="MasterCard">MasterCard</option>
                                            <option value="Visa">Visa</option>
                                            <option value="OmanNet">OmanNet</option>
                                            <option value="Onus">Onus</option>
                                            <option value="POSECOM">POSECOM</option>
                                        </select>
                                    </td>
                                    <td style="padding-left: 21px;"> <input type="submit" value="Find" name="submit" class="btn btn-sm btn-info" /></td>
                                    <td>    <a class="btn btn-sm btn-secondary" href="/app/CB/CaseViewFrom?getval=2">Reset</a></td>
                                </tr>
                            </table>

                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3">

                            <button class="btn btn-sm btn-light" value="Excel" name="Excel" type="submit">
                                Export<img style="background-color: #57b362;border-radius: 3px;margin-left: 3px;margin-top: -3px;" src="~/Images/exl.png" />
                            </button>
                            <a href="#" class="btn btn-sm btn-light" id="create_pdf">
                                Export<img src="~/Images/pdf.png" />
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <table id="tblx1" style="font-size: 18px; position: relative; left: 82%;top: 90px; height: 215px;color: #546f6f;">
                            <tr>
                                <th>MasterCard :</th>
                                <td>@botstatobj.RoutingPortalFigures[0]</td>
                            </tr>
                            <tr>
                                <th>Visa :</th>
                                <td>@botstatobj.RoutingPortalFigures[1]</td>
                            </tr>
                            <tr>
                                <th>OmanNet :</th>
                                <td>@botstatobj.RoutingPortalFigures[2]</td>
                            </tr>
                            <tr>
                                <th>Onus :</th>
                                <td>@botstatobj.RoutingPortalFigures[3]</td>
                            </tr>
                            <tr>
                                <th>POSECOM :</th>
                                <td>@botstatobj.RoutingPortalFigures[4]</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="width:666px;height: 367px;">
                        <canvas id="doughnutChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <b style="color:#6d7979;font-size:12px">Showing data from @botstatobj.RoutingPortalFigures[5] </b>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <table id="example" class="table-bordered table table-striped table-condensed" style="font-size: 12px;">
            <thead style="color:white;text-align: center;">
                <tr>
                    <th>Feedback Id</th>
                    <th>Auth Code</th>
                    <th>Amount</th>
                    <th>Routing Portal</th>
                    <th>Card Number</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.list != null)
                {
                    foreach (var item in ViewBag.list)
                    {
                        <tr>
                            <td>@item.FeedbackId</td>
                            <td>@item.AuthCode</td>
                            <td>@item.Amount</td>
                            <td>@item.Routing_Channel</td>
                            <td>@item.CardNumber</td>
                            <td>@item.Status</td>
                        </tr>

                    }
                }

            </tbody>
        </table>
    </div>

}
else if (botstatobj.CaseReadyForAction != null)
{
    <div class="card-header" style="text-align:center">
        <span class="pagetilte">Case Ready For Action</span>
    </div>
    <br />
    <form action="@System.Web.Configuration.WebConfigurationManager.AppSettings["applicationname"].ToString().Trim()/CB/GetFilterData" method="post">
        <input type="hidden" name="Flag" value="@botstatobj.flag" />
        <div class="row">
            <div class="col-md-8">  </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <button class="btn btn-sm btn-light" value="Excel" name="Excel" type="submit">
                    Export<img style="background-color: #57b362;border-radius: 3px;margin-left: 3px;margin-top: -3px;" src="~/Images/exl.png" />
                </button>
                <a href="#" class="btn btn-sm btn-light" id="create_pdf">
                    Export<img src="~/Images/pdf.png" />
                </a>
            </div>

        </div>
    </form>
    <div class="col-sm-12">

        <table id="example" class="table-bordered table table-striped table-condensed" style="font-size: 12px;">
            <thead style="color:white;text-align: center;">
                <tr>
                    <th>Feedback Id</th>
                    <th>CIF No.</th>
                    <th>Customer Name</th>
                    <th>Ragistration Date</th>
                    <th>Card Number</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.list != null)
                {
                    foreach (var item in ViewBag.list)
                    {
                        <tr>
                            <td>@item.FeedbackId</td>
                            <td>@item.CIFNo</td>
                            <td>@item.CustomerName</td>
                            <td>@item.IncidentDate</td>
                            <td>@item.CardNumber</td>
                            <td>@item.Status</td>
                        </tr>

                    }
                }

            </tbody>
        </table>
    </div>

}
@if (botstatobj.RoutingPortalFigures != null)
{
    <script>
      datafig =@Html.Raw(Json.Encode(botstatobj.RoutingPortalFigures)) ;
    var ctxD = document.getElementById("doughnutChart").getContext('2d');
    var myLineChart = new Chart(ctxD, {
        type: 'doughnut',
        data: {
            labels: ["MasterCard", "Visa", "OmanNet", "Onus","POSECOM"],
            datasets: [{
                data: datafig,
                //data: ["84","64","54","78","89"],
                backgroundColor: ["#0d274d", "#c00000", "#8a8f92", "#92d028", "#558fd5"],
                hoverBackgroundColor: ["#0d274d8f", "#c0000085", "#8a8f9285", "#92d0288c", "#558fd58a"]
            }]
        },
        options: {
            responsive: true
        }
    });
    </script>

}
