@using BankDashboard.Common;
@{
    ViewBag.Title = "CaseHistoryDetail";
    Layout = "~/Views/Shared/_CBLayout.cshtml";
    ViewModelClass.FilterClass filterobj = (ViewModelClass.FilterClass)ViewBag.filter;
}

<div class="card-header" style="text-align:center">
    <span class="pagetilte">Feedback ID:@ViewBag.feedbackid</span>
</div>
<div class="card-body">
    <form action="@System.Web.Configuration.WebConfigurationManager.AppSettings["applicationname"].ToString().Trim()/CB/BackToCaseHistory" method="post">
        @Html.AntiForgeryToken()
        <div class="row">
            <input type="hidden" name="filter" value="@Json.Encode(filterobj)" />
            <div class="col-md-7"></div>
            <div class="col-md-4"></div>
            <div class="col-md-1">
                <button class="btn btn-sm btn-danger" type="submit" name="button" style="margin-top: 19px;">Back</button>
            </div>
        </div>
    </form>
        <div class="row">
            <!-- Modal -->
            <div class="modal fade" id="myModal1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header" style="font-weight: bold;color: #7b6b56;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" id="imgContainer">
                                    @*<div class="carousel-item active">
                                            <img class="d-block w-100" src="~/Images/building.jpg" alt="First slide">
                                        </div>*@

                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ModalEnd -->
            <div class="col-md-12">
                <table id="example" class="table-bordered table table-striped table-condensed" style="font-size: 12px;">
                    <thead style="color:white;text-align: center;">
                        <tr>
                            <th>Auth Code</th>
                            <th>Amount</th>
                            <th>Routing Portal</th>
                            <th>Card No.</th>
                            <th>ARN No.</th>
                            <th>RRN No.</th>
                            <th>Issuer</th>
                            <th>Acquirer</th>
                            <th>VROL Case No.</th>
                            <th>Remarks</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.list != null)
                        {
                            foreach (var item in (List<BankDashboard.CBModel.tbl_AuthCode>)ViewBag.list)
                            {

                                <tr>
                                    <td>@item.AuthCode</td>
                                    <td>@item.Amount</td>
                                    <td>@item.Routing_Channel</td>
                                    <td>@item.CardNumber</td>
                                    <td>@item.ARN_Number</td>
                                    <td>@item.RRN_Number</td>
                                    <td>@item.Issuer</td>
                                    <td>@item.Acquirer</td>
                                    <td>@item.VROL_Case_No</td>
                                    <td>@item.Bot_Remark</td>
                                    <td>
                                        <a href="#" class="btn tbn-sm btn-info" data-toggle="modal" data-target="#myModal1"onclick="getImages('@CBHelper.getImagesFromAuthCode(item.FeedbackId,item.AuthCode)')" data-placement="bottom" title="View">
                                            <img class="btnImg" src="~/Images/view.png" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function getImages(images) {
            debugger
            var imgarr = JSON.parse(images)
            var Container = document.getElementById("imgContainer");
            Container.innerHTML = "";
            var htmlbody = "";
            for (i = 0; i < imgarr.length; i++) {
                if (i == 0) {
                    htmlbody += '<div class="carousel-item active"> <img class="d-block w-100" src="' + imgarr[i] + '" alt="First slide"> </div>';
                }
                else {
                    htmlbody += '<div class="carousel-item"> <img class="d-block w-100" src="' + imgarr[i] + '" alt="First slide"> </div>';
                }
            }
            Container.innerHTML = htmlbody;
        }
    </script>
