@using BankDashboard.Common;
@{
    ViewBag.Title = "Accepted Case Closure Report";
    Layout = "~/Views/Shared/_CBLayout.cshtml";
    ViewModelClass.ClosureReportFilter filterobj = (ViewModelClass.ClosureReportFilter)ViewBag.filter;
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<style>
    .form-control {
        height: calc(1.5em + -0.4rem + 10px);
    }

    #inputheader .form-control {
        font-size: 12px;
    }

    #example {
        text-align: center
    }

    .col-sm-2 span {
        font-weight: bold;
        font-size: 13px;
        color: #61605d;
    }

    #inputheader {
        font-size: 10px;
        text-align: center;
    }

        #inputheader th {
            width: 14.28%;
        }

    .col-sm-3 .invoice {
        height: 27px;
        width: 164px;
    }

    .btnImg {
        height: 13px;
        margin-bottom: 12px;
        margin-left: -3px;
    }

    #example .tbn-sm {
        height: 29px;
        width: 29px;
    }

    #example th {
        background-image: none;
    }
</style>
<div class="card-header" style="text-align:center">
    <span class="pagetilte">Accepted Case Closure</span>
</div>


<div class="card-body">
    <form action="@System.Web.Configuration.WebConfigurationManager.AppSettings["applicationname"].ToString().Trim()/CB/ClosureReport" method="post">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-2">
                <span> Closed From:</span>
                @if (filterobj == null || filterobj.FromDate == new DateTime(0001, 01, 01))
                {
                    <input type="text" class="form-control invoice" autocomplete="off" name="FromDate" />
                }
                else
                {
                    <input type="text" class="form-control invoice" value="@filterobj.FromDate.ToString("dd-MMM-yyyy")" autocomplete="off" name="FromDate" />
                }
            </div>
            <div class="col-sm-2">
                <span> To:</span>
                @if (filterobj == null || filterobj.ToDate == new DateTime(0001, 01, 01))
                {
                    <input type="text" class="form-control invoice" autocomplete="off" name="ToDate" />
                }
                else
                {
                    <input type="text" class="form-control invoice" value="@filterobj.ToDate.ToString("dd-MMM-yyyy")" autocomplete="off" name="ToDate" />
                }
            </div>
            <div class="col-sm-2">
                <span>ROL Case Number. </span>
                @if (filterobj == null)
                {
                    <input type="text" class="form-control" autocomplete="off" name="ROLCaseNumber" />
                }
                else
                {
                    <input type="text" class="form-control" value="@filterobj.ROLCaseNumber" autocomplete="off" name="ROLCaseNumber" />
                }
            </div>
            <div class="col-sm-6">
            </div>


        </div>
        <div class="row">
            <div class="col-sm-2">
                <span> Case Closure Status:</span>
                <select class="form-control" style="padding: 0px 0px 0px 5px;" id="Status" name="Status">
                    <option value="0" selected>Select</option>
                    <option value="Open">Open</option>
                    <option value="Close">Close</option>
                </select>
            </div>
            <div class="col-sm-2">
                <span> Financial CPD Date:</span>
                @if (filterobj == null)
                {
                    <input type="text" class="form-control" autocomplete="off" name="FinancialCPD" />
                }
                else
                {
                    <input type="text" class="form-control" value="@filterobj.FinancialCPD" autocomplete="off" name="FinancialCPD" />
                }
            </div>
            <div class="col-sm-8">
                <button class="btn btn-sm btn-success" type="submit" style="margin-top: 19px;background-color: #2193b5;" name="find" value="find">Find</button>
                &nbsp;&nbsp;
                <a class="btn btn-sm btn-secondary" href="/app/CB/ClosureReport" style="margin-top: 19px;">Reset/Refresh</a>

            </div>
        </div>
    </form>
   
    <br />
    <!-- Modal -->
    <!-- ModalEnd -->
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <form action="@System.Web.Configuration.WebConfigurationManager.AppSettings["applicationname"].ToString().Trim()/CB/GetExcel_AcceptedCaseClosureReport" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" value="@Json.Encode(filterobj)" name="hfilter" />
                <button class="btn btn-success" type="submit"style="margin-left: 34%;width: 93px; ">
                    <img src="~/Images/exl.png" style="height: 19px;" />Export
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="example" class="table-bordered table table-striped table-condensed" style="font-size: 12px;">
                <thead style="background-color:#0d274d;color:white;text-align: center;">
                    <tr>
                        <th>Feedback Id</th>
                        <th style="    width:125px;">ROL Case No.</th>
                        <th>Financial CPD</th>
                        <th>ARN Number</th>
                        <th>Message Type</th>
                        <th>Case Submission Status</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.list != null)
                    {
                        foreach (var item in ViewBag.list)
                        {
                            <tr>
                                <td>-</td>
                                <td>@item.ROLCaseNo</td>
                                <td>@item.FinancialCPD</td>
                                <td>-</td>
                                <td>@item.MessageType</td>
                                <td>@item.CaseSubmissionStatus</td>

                                <td>
                                    <button class="btn tbn-sm btn-info" data-toggle="tooltip" data-placement="bottom" title="View">
                                        <img class="btnImg" src="~/Images/view.png" />
                                    </button>
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function getAuthcode(feedbackid) {
       $.ajax({
                type: "POST",
                url: '/app/CB/AuthCode',
           data: '{feedback: ' +feedbackid+ '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    // alert("Data has been added successfully.");
                    LoadData(data);
                },
                error: function () {
                    alert("Error while inserting data");
                }
        });
        $("#flabel").text(feedbackid)

    }
</script>
<script>
    function LoadData(authdata) {
        $("#authtable tbody tr").remove();
        $.each(authdata, function (i, item) {
            var rows = "<tr>"
                + "<td>" + "-" + "</td>"
                + "<td>" + item.ROLCaseNo + "</td>"
                + "<td>" + item.FinancialCPD + "</td>"
                + "<td>" + "-"  + "</td>"
                + "<td>" + item.MessageType + "</td>"
                + "<td>" + item.CaseClosureStatus + "</td>"
                + "<td>" + "-" + "</td>"
                + "</tr>";
            $('#authtable tbody').append(rows);
        });
        @*$.ajax({
            type: 'POST',
            url: '@Url.Action("getStudent")',
            dataType: 'json',
            data: { id: '' },
            success: function (data) {
                var items = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>"
                    + "<td class='prtoducttd'>" + item.studentID + "</td>"
                    + "<td class='prtoducttd'>" + item.studentName + "</td>"
                    + "<td class='prtoducttd'>" + item.studentAddress + "</td>"
                    + "</tr>";
                    $('#tblStudent tbody').append(rows);
                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });*@
        return false;
    }
</script>