@using BankDashboard.Common;
@{
    ViewBag.Title = "Case Statistics";
    Layout = "~/Views/Shared/_CBLayout.cshtml";
    ViewModelClass.BOtStatModel botstatobj = (ViewModelClass.BOtStatModel)ViewBag.casestat;
}
<script src="~/JavaScript/mdb/mdb.min.js"></script>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<style>
    #tbl1 th {
        padding-left: 6px;
    }

    #tbl2 th {
        padding-left: 7px;
    }

    .chartTable {
        width: 100%;
        font-weight: bold;
        color: #716662;
        position: relative;
        left: 7%;
        margin-top: -2px;
    }

    .card-header b {
        color: #546f6f;
        margin-left: -4px;
    }

    #labeldiv {
        font-size: 19px;
        background-color: #5e6f6b;
        border-radius: 3px;
        padding: 3px;
        font-family: fangsong;
        font-weight: bold;
        position: relative;
        top: 3px;
    }

    .progress {
        width: 0px;
        height: 64px;
        transition-property: width;
        transition-duration: 1s;
        border-color: #c5acb1;
        border: none;
        border-width: 1px;
        border-radius: 0px;
    }

        .progress b {
            padding-left: 50%;
            padding-right: 50%;
            padding-top: 25px;
            color: white;
            font-size: 13px;
        }

    .pbar1 {
        background: url(/Images/greentexture.PNG);
        border-right: none;
    }

    .pbar2 {
        background: url(/Images/bluetexture.PNG);
        border-right: none;
        border-left: none;
    }

    .pbar3 {
        background: url(/Images/redtexture.PNG);
        background-color: red;
        border-left: none;
    }

    .pbar4 {
        background: url(/Images/greytexture.PNG);
        background-color: #5e5858;
        border-left: none;
    }



    .invoice {
        width: 80%;
        height: calc(1.5em + 0.75rem + -10px);
        background-color: #f9f3f0;
        color: #8c9894;
        font-weight: bold;
    }



    .btn-lh {
        background-color: #484541;
        color: white;
        font-weight: bold;
        font-size: 12px;
    }

        .btn-lh:hover {
            background-color: #2d2b38;
            color: white;
        }
</style>
<div class="card-header" style="text-align:center">
    <span class="pagetilte">@ViewBag.Title </span>
</div>

<div class="card-body">
    <div class="row">
        <div class="col-sm-6">
            <div class="shadow card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-5">
                            <b>Cases Status (Today)</b>
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-4">
                            <form action="@System.Web.Configuration.WebConfigurationManager.AppSettings["applicationname"].ToString().Trim()/CB/CaseViewFrom" method="post">
                                @Html.AntiForgeryToken()
                                <button class="btn btn-sm btn-lh" type="submit" name="getval" value="1">
                                    View From
                                    <img src="~/Images/calender.png" height="22" />
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-sm-11 row">
                        <div class="pbar1 progress" id="p1" data-toggle="tooltip" data-placement="top" title="Processed">
                            <input type="hidden" value="@botstatobj.castStatFigures[4]" id="xp1" />                            
                        </div>
                        <div class="pbar2 progress" id="p2" data-toggle="tooltip" data-placement="top" title="Business Rule Exception">
                            <input type="hidden" value="@botstatobj.castStatFigures[5]" id="xp2" />                          
                        </div>
                        <div class="pbar3 progress" id="p3" data-toggle="tooltip" data-placement="top" title="Application Exception">
                            <input type="hidden" value="@botstatobj.castStatFigures[6]" id="xp3" />                          
                        </div>
                        <div class="pbar4 progress" id="p4" data-toggle="tooltip" data-placement="top" title="Unprocessed">
                            <input type="hidden" value="@botstatobj.castStatFigures[7]" id="xp4" />                          
                        </div>
                    </div>
                    <br />
                    <div class="col-sm-11 row">
                        <table style=" color: #7f7571;font-size: 14px;height: 176px;">
                            <tr>
                                <td style="width: 36px;"><div style="height: 16px;background:url(/Images/greentexture.PNG);width: 16px;"></div></td>
                                <th>Processed :  @botstatobj.castStatFigures[0]</th>
                                <th> </th>
                            </tr>
                            <tr>
                                <td><div style="height: 16px;background:url(/Images/bluetexture.PNG);width: 16px;"></div></td>
                                <th>Business Rule Exception :   @botstatobj.castStatFigures[1]</th>
                                <th> </th>
                            </tr>
                            <tr>
                                <td><div style="height: 16px;background:url(/Images/redtexture.PNG);;width: 16px;"></div></td>
                                <th>Application Exception :  @botstatobj.castStatFigures[2]</th>
                                <th> </th>
                            </tr>
                            <tr>
                                <td><div style="height: 16px;background:url(/Images/greytexture.PNG);width: 16px;"></div></td>
                                <th>Unprocessed :   @botstatobj.castStatFigures[3]</th>
                                <th> </th>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="card-footer">
                    <b style="color:#6d7979;font-size:12px">Showing data from @DateTime.Today.ToString("dd-MMM-yyyy") -till date</b>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="shadow card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-8">
                            <b>Routing Portal Statistics (Today)</b>
                        </div>

                        <div class="col-sm-4">
                            <form action="@System.Web.Configuration.WebConfigurationManager.AppSettings["applicationname"].ToString().Trim()/CB/CaseViewFrom" method="post">
                                @Html.AntiForgeryToken()
                                <button class="btn btn-sm btn-lh" type="submit" name="getval" value="2">
                                    View From
                                    <img src="~/Images/calender.png" height="22" />
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body" style=" width: 580px;height: 282px; position: relative;left: -3%;">
                    <div class="col-md-12">
                        <canvas id="doughnutChart"></canvas>
                    </div>

                </div>
                <div class="card-footer">
                    <div>
                        <table id="tbl2" style="font-size: 14px;position:relative;left:-2%;color: #546f6f;">
                            <tr>
                                <th>MasterCard:@botstatobj.RoutingPortalFigures[0]</th>
                                <th>Visa:@botstatobj.RoutingPortalFigures[1]</th>
                                <th>OmanNet: @botstatobj.RoutingPortalFigures[2]</th>
                                <th>Onus: @botstatobj.RoutingPortalFigures[3]</th>
                                <th>POSECOM: @botstatobj.RoutingPortalFigures[4]</th>
                            </tr>
                        </table>
                    </div>

                    <b style="color:#6d7979;font-size:12px">Showing data from @DateTime.Today.ToString("dd-MMM-yyyy") -till date</b>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6 p-3">
            <div class="shadow card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <b>Cases ready for action</b>
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                </div>
                <div class="card-image-wrapper" style="text-align:center;height: 178px;">
                    <form action="@System.Web.Configuration.WebConfigurationManager.AppSettings["applicationname"].ToString().Trim()/CB/CaseViewFrom" method="post">
                        @Html.AntiForgeryToken()
                        <b style="color: #565451;font-family: emoji;"></b>
                        <button class="btn btn-block" type="submit" name="getval" value="3">
                            <h1 class="Count" style="  font-size: 6.4rem;color: #4e907a">@botstatobj.CaseReadyForAction[0]</h1>
                        </button>                      
                    </form>
                </div>
                <div class="card-footer">
                    <b style="color:#6d7979;font-size:12px;">Showing data from @DateTime.Today.ToString("dd-MMM-yyyy") -till date</b>
                </div>
            </div>
        </div>

    </div>

</div>
<script>

    datafig =@Html.Raw(Json.Encode(botstatobj.RoutingPortalFigures)) ;
    var ctxD = document.getElementById("doughnutChart").getContext('2d');
    var myLineChart = new Chart(ctxD, {
        type: 'doughnut',
        data: {
            labels: ["MasterCard", "Visa", "OmanNet", "Onus","POSECOM"],
            datasets: [{
                data: datafig,
                //data: ["84","64","54","78","89"],
                backgroundColor: ["#0d274d", "#c00000", "#8a8f92", "#92d028", "#558fd5"],
                hoverBackgroundColor: ["#0d274d8f", "#c0000085", "#8a8f9285", "#92d0288c", "#558fd58a"]
            }]
        },
        options: {
            responsive: true
        }
    });

</script>
<style>
</style>