@using BankDashboard.Common;
@{
    ViewBag.Title = "SLA Status";
    Layout = "~/Views/Shared/_CBLayout.cshtml";
    var filterobj = (ViewModelClass.SLAFilter)ViewBag.filterobj;
    DateTime slatoday = DateTime.Today; int dateDiff = 0;
    long sladays = 0, closetosla = 0, slacount = 0;
}
<style>
    .form-control {
        height: calc(1.5em + -0.4rem + 10px);
    }

    #inputheader .form-control {
        font-size: 12px;
    }

    #example {
        text-align: center
    }

    .tbl .form-control {
        width: 107px;
    }

    .tbl th {
        font-weight: bold;
        font-size: 13px;
        color: #61605d;
        text-align: right;
    }

    #inputheader {
        font-size: 10px;
        text-align: center;
    }

        #inputheader th {
            width: 14.28%;
        }

    .col-sm-3 .invoice {
        height: 27px;
        width: 164px;
    }

    .btnImg {
        height: 13px;
        margin-bottom: 12px;
        margin-left: -3px;
    }
</style>
<div class="card-header">
    <div class="row">
        <div class="col-sm-2">
            <h4 style="color:#758484"></h4>
        </div>
        <div class="col-sm-8"></div>
        <div class="col-sm-2">
            <form action="@System.Web.Configuration.WebConfigurationManager.AppSettings["applicationname"].ToString().Trim()/CB/GetExcel" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" value="@Json.Encode(filterobj)" name="hfilter" />
                <button class="btn btn-success" type="submit">
                    <img src="~/Images/exl.png" style="height: 19px;" />Export
                </button>
            </form>
        </div>
    </div>
</div>
<div class="card-body">
    <form action="@System.Web.Configuration.WebConfigurationManager.AppSettings["applicationname"].ToString().Trim()/CB/SLA" method="post">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <table class="tbl" style="width:67%;height:74px">
                    <tr>
                        <th>SLA Days:</th>
                        <td><input type="number" name="SLADays" class="form-control" value="@filterobj.SLADays" /></td>
                        <th>Search cases nearing SLA in next </th>
                        <th width="113px"><input type="number" value="@filterobj.CloseToSla" name="CloseToSla" class="form-control" /></th>
                        <th style="text-align:left">Days</th>
                    </tr>
                    <tr>
                        <th>Total Count:</th>
                        <th><input type="text" readonly class="form-control" id="slacount" name="SlACount" /></th>
                        <th>Filter:</th>
                        <th>
                            <select class="form-control" name="Filter" style="padding: 0px;">
                                <option value="">Select</option>
                                @if (!string.IsNullOrEmpty(filterobj.Filter))
                                {
                                    <option value="@filterobj.Filter" selected hidden>@filterobj.Filter</option>
                                }
                                @if (ViewBag.userlist != null)
                                {
                                    foreach (string item in (List<string>)ViewBag.userlist)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                        </th>
                        <th></th>
                    </tr>
                </table>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <input type="submit" value="Find" name="find" class="btn btn-sm btn-info" />
                <a class="btn btn-sm btn-secondary" href="/app/CB/SLA">Reset</a>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <table id="example" class="table-bordered table table-striped table-condensed" style="font-size: 9px;">
                <thead style="color:white;text-align: center;">
                    <tr>
                        <th>Feedback Id</th>
                        <th>Registration Date</th>
                        <th>Assigned User ID</th>
                        <th>SLA Date</th>
                        <th>Incident Date</th>
                        <th>Days Left</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.list != null)
                    {
                        foreach (var item in (List<BankDashboard.CBModel.tbl_WeCareReactive>)ViewBag.list)
                        {
                            string color = ""; var datex = (Convert.ToDateTime(item.RegistrationDate).AddDays(long.Parse(filterobj.SLADays)));
                            datex = datex.Date;slatoday = slatoday.Date;
                            if (datex < slatoday&& item.Stage.Equals("In Progress") || item.Stage.ToLower().Equals("InProgress".ToLower()))
                            {
                                color = "red";
                                dateDiff = (datex - slatoday).Days;
                                slacount += 1;
                            }
                            else if (datex >= slatoday && datex <= slatoday.AddDays(long.Parse(filterobj.CloseToSla))&&
                                item.Stage.Equals("In Progress") || item.Stage.ToLower().Equals("InProgress".ToLower()))
                            {
                                color = "green";
                                slacount += 1;
                                dateDiff = (datex - slatoday).Days;
                            }

                            if (color.Equals("red") || color.Equals("green"))
                            {
                                <tr >
                                    <td>@item.FeedbackID</td>
                                    <td>@item.RegistrationDate</td>
                                    <td>@item.AssignedUserID</td>
                                    <td>@item.SLADate</td>
                                    <td>@item.IncidentDate</td>
                                    <td style='color:@color'>
                                        @dateDiff
                                    </td>
                                </tr>
                            }


                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    var x = document.getElementById("slacount")
    x.value="@Html.Raw(slacount)"
</script>