@using BankDashboard.Common;
@{
    ViewBag.Title = "WeCare Statistics";
    Layout = "~/Views/Shared/_CBLayout.cshtml";
    ViewModelClass.WCStatModel botstatobj = (ViewModelClass.WCStatModel)ViewBag.WCObj;

}
<script src="~/JavaScript/mdb/mdb.min.js"></script>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<style>
    .btn-lh {
        background-color: #484541;
        color: white;
        font-weight: bold;
        font-size: 12px;
    }
    .durationTable {
        width: 66%;
        font-weight: bold;
        color: #716662;
        position: relative;
        left: 20%;
    }

    .chartTable {
        width: 100%;
        font-weight: bold;
        color: #716662;
        position: relative;
        left: 7%;
        margin-top: -2px;
    }

    .card-header b {
        color: #546f6f;
        margin-left: -4px;
    }

    #labeldiv {
        font-size: 19px;
        background-color: #5e6f6b;
        border-radius: 3px;
        padding: 3px;
        font-family: fangsong;
        font-weight: bold;
        position: relative;
        top: 3px;
    }

    .progress {
        width: 0px;
        height: 27px;
        transition-property: width;
        transition-duration: 1s;
        border-color: #c5acb1;
        border: none;
        border-width: 1px;
        border-radius: 0px;
    }

        .progress b {
            padding-left: 50%;
            padding-right: 50%;
            padding-top: 10px;
            color: white;
        }

    .pbar1 {
        background: url(/Images/greentexture.PNG);
        border-right: none;
    }

    .pbar2 {
        background: url(/Images/bluetexture.PNG);
        border-right: none;
        border-left: none;
    }

    .pbar3 {
        background: url(/Images/redtexture.PNG);
        background-color: red;
        border-left: none;
    }



    .invoice {
        width: 80%;
        height: calc(1.5em + 0.75rem + -10px);
        background-color: #f9f3f0;
        color: #8c9894;
        font-weight: bold;
    }
    .btn-lh:hover {
        background-color: #2d2b38;
        color: white;
    }
</style>

<div class="card-header" style="text-align:center">
    <span class="pagetilte">@ViewBag.Title </span>
</div>
<div class="card-body">
    <div class="row">
        @*--------------------------------------------Case Status-----------------------------------------------------*@
        <div class="col-sm-6">
            <div class="shadow card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-8">
                            <b>Cases Status (Historical)</b>
                        </div>
                        <div class="col-sm-4">
                            <form action="@System.Web.Configuration.WebConfigurationManager.AppSettings["applicationname"].ToString().Trim()/CB/WCViewFrom" method="post">
                                @Html.AntiForgeryToken()
                                <button class="btn btn-sm btn-lh" type="submit" name="getval" value="1">
                                    View From
                                    <img src="~/Images/calender.png" height="22" />
                                </button>
                            </form>                           
                        </div>                   
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-sm-11 row">
                        <div class="pbar1 progress" id="p1" data-toggle="tooltip" data-placement="top" title="Closed">
                            <input type="hidden" value="@botstatobj.WCCaseStatus[3]" id="xp1" />
                            <b>@botstatobj.WCCaseStatus[0]</b>
                        </div>
                        <div class="pbar2 progress" id="p2" data-toggle="tooltip" data-placement="top" title="In Progress">
                            <input type="hidden" value="@botstatobj.WCCaseStatus[4]" id="xp2" />
                            <b >@botstatobj.WCCaseStatus[1]</b>
                        </div>
                        <div class="pbar3 progress" id="p3" data-toggle="tooltip" data-placement="top" title="Action Pending">
                            <input type="hidden" value="@botstatobj.WCCaseStatus[5]" id="xp3" />
                            <b >@botstatobj.WCCaseStatus[2]</b>
                        </div>

                    </div>
                    <br />
                    <div class="col-sm-11 row">
                        <table style=" color: #7f7571;font-size: 14px;height: 170px;">
                            <tr>
                                <td><div style="height: 16px;background:url(/Images/greentexture.PNG);width: 16px;"></div></td>
                                <th>Closed :  @botstatobj.WCCaseStatus[0]</th>
                                <th> </th>
                            </tr>
                            <tr>
                                <td style="width: 36px;"><div style="height: 16px;background:url(/Images/bluetexture.PNG);width: 16px;"></div></td>
                                <th>In Progress :  @botstatobj.WCCaseStatus[1]</th>
                                <th> </th>
                            </tr>
                            <tr>
                                <td><div style="height: 16px;background:url(/Images/redtexture.PNG);width: 16px;"></div></td>
                                <th>Pending Action :   @botstatobj.WCCaseStatus[2]</th>
                                <th> </th>
                            </tr>

                        </table>
                    </div>

                </div>
                <div class="card-footer">
                    <b style="color:#6d7979;font-size:12px">Showing data @botstatobj.WCCaseStatus[6]</b>
                </div>
            </div>
        </div>
        @*--------------------------------------------Issue Type-----------------------------------------------------*@
        <div class="col-sm-6">
            <div class="shadow card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-8">
                            <b>Issue Type (Yesterday)</b>
                        </div>
                        <div class="col-sm-4">
                            <form action="@System.Web.Configuration.WebConfigurationManager.AppSettings["applicationname"].ToString().Trim()/CB/WCViewFrom" method="post">
                                @Html.AntiForgeryToken()
                                <button class="btn btn-sm btn-lh" type="submit" name="getval" value="2">
                                    View From
                                    <img src="~/Images/calender.png" height="22" />
                                </button>
                            </form>                        
                        </div>
                    </div>
                </div>
                <div class="card-body" style="height: 262px;width: 515px;">                
                     <canvas id="horizontalBar"></canvas>                 
                </div>
                <div class="card-footer">
                    <b style="color:#6d7979;font-size:12px">Showing data for @DateTime.Today.AddDays(-1).ToString("dd-MMM-yyyy")</b>
                </div>
            </div>
        </div>
        @*--------------------------------------------Issue Type-----------------------------------------------------*@
    </div>


    @*<div class="row">
        <div class="col-sm-1"></div>

    </div>
    <br />
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="shadow card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <b>Daily Cases Trend</b>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="shadow card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <b>Monthly Cases Received</b>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>
    </div>*@
</div>
<script>
    issuetypename=@Html.Raw(Json.Encode(botstatobj.Itypes.Issuetypes)) ;
    issuetypefigure =@Html.Raw(Json.Encode(botstatobj.Itypes.Issuetypesfigures)) ;
    backcolor =@Html.Raw(Json.Encode(botstatobj.Itypes.IssuetypesBackColor)) ;
    borderColor =@Html.Raw(Json.Encode(botstatobj.Itypes.IssuetypesBordercolor)) ;
    var x = new Chart(document.getElementById("horizontalBar"), {
        "type": "horizontalBar",
        "data": {
            "labels": issuetypename,
            "datasets": [{
                "label": "Issue Type Graph",
                "data": issuetypefigure,
                "fill": false,
                "backgroundColor": backcolor,
                "borderColor": borderColor,
                "borderWidth": 1
            }]
        },
        "options": {
            "scales": {
                "xAxes": [{
                    "ticks": {
                        "beginAtZero": true
                    }
                }]
            }
        }
    });



    ////line
    //var ctxL = document.getElementById("lineChart").getContext('2d');
    //var myLineChart = new Chart(ctxL, {
    //    type: 'line',
    //    data: {
    //        labels: ["10/1/2020", "10/2/2020", "10/3/2020", "10/4/2020", "10/5/2020", "10/6/2020", "10/7/2020", "10/8/2020", "10/9/2020", "10/10/2020"],
    //        datasets: [{
    //            label: "Daily Cases",
    //            data: [65, 59, 80, 81, 56, 55, 40, 34, 56, 70],
    //            backgroundColor: [
    //                'rgba(12, 152, 223, 0.64)',
    //            ],
    //            borderColor: [
    //                'rgba(12, 152, 223, 7)',
    //            ],
    //            borderWidth: 2
    //        }
    //        ]
    //    },
    //    options: {
    //        responsive: true
    //    }
    //});


    ////bar
    //var ctxB = document.getElementById("barChart").getContext('2d');
    //var myBarChart = new Chart(ctxB, {
    //    type: 'bar',
    //    data: {
    //        labels: ["January", "February", "March", "April", "May", "June"],
    //        datasets: [{
    //            label: '',
    //            data: [12, 19, 3, 5, 2, 3],
    //            backgroundColor: [
    //                'rgba(123, 55, 241, 1)',
    //                'rgba(123, 55, 241, 1)',
    //                'rgba(123, 55, 241, 1)',
    //                'rgba(123, 55, 241, 1)',
    //                'rgba(123, 55, 241, 1)',
    //                'rgba(123, 55, 241, 1)',
    //            ],
    //            borderColor: [
    //                'rgba(255,99,132,1)',
    //                'rgba(54, 162, 235, 1)',
    //                'rgba(255, 206, 86, 1)',
    //                'rgba(75, 192, 192, 1)',
    //                'rgba(153, 102, 255, 1)',
    //                'rgba(255, 159, 64, 1)'
    //            ],
    //            borderWidth: 1
    //        }]
    //    },
    //    options: {
    //        scales: {
    //            yAxes: [{
    //                ticks: {
    //                    beginAtZero: true
    //                }
    //            }]
    //        }
    //    }
    //});
</script>
