@using BankDashboard.Common;
@{
    /**/

    ViewBag.Title = "WCViewFrom";
    Layout = "~/Views/Shared/_CBLayout.cshtml";
    ViewModelClass.WCStatModel botstatobj = (ViewModelClass.WCStatModel)ViewBag.WCstat;
}
<script src="~/JavaScript/mdb/mdb.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<style>
    .btn-light {
        border-radius: 5px;
        height: 36px;
        border: solid;
        color: #ff5200;
        margin-top: -2px;
    }

        .btn-light:hover {
            border: solid;
            color: #ff5200;
        }

    .textlbl {
        float: left;
        font-weight: bold;
        color: #86817b;
    }

    .form-control {
        height: 27px;
        width: 159px;
        font-size: 13px;
        font-weight: bold;
        color: #7f7571
    }

    .btn-sm img {
        height: 26px;
    }

    .progress {
        width: 0px;
        height: 27px;
        transition-property: width;
        transition-duration: 1s;
        border-color: #c5acb1;
        border: none;
        border-width: 1px;
        border-radius: 0px;
    }

        .progress b {
            padding-left: 50%;
            padding-right: 50%;
            padding-top: 10px;
            color: white;
        }

    .pbar1 {
        background: url(/Images/greentexture.PNG);
        border-right: none;
    }

    .pbar2 {
        background: url(/Images/bluetexture.PNG);
        border-right: none;
        border-left: none;
    }

    .pbar3 {
        background: url(/Images/redtexture.PNG);
        background-color: red;
        border-left: none;
    }

    .pbar4 {
        background: url(/Images/greytexture.PNG);
        background-color: #5e5858;
        border-left: none;
    }
</style>
@if (botstatobj.WCCaseStatus != null)
{
    //if (TempData["filter"] != null)
    //{
    //    filter = (ViewModelClass.CaseFilter)TempData["filter"];
    //}
    <div class="card-header" style="border-bottom: #f11a1a;border-bottom-style: solid;height: 56px">
        <form>
            <div class="row">
                <div class="col-md-8">

                    <input type="hidden" name="Flag" value="@botstatobj.flag" />
                    <table style=" color: #5d5d55; font-size: 12px;">
                        <tr>
                            <th>From:</th>
                            <td>
                                <input type="text" class="form-control invoice" autocomplete="off" name="Fromdate" />
                            </td>
                            <th style="padding-left: 21px;">To:</th>
                            <td>
                                <input type="text" class="form-control invoice" autocomplete="off" name="Todate" />

                            </td>
                            <th style="padding-left: 21px;">Filter:</th>
                            <td>
                                <select class="form-control" name="Filter" style="padding: 0px;">

                                    <option value="">Select</option>
                                    <option value="Closed">Closed</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="Pending Action">Pending Action</option>

                                </select>
                            </td>
                            <td style="padding-left: 21px;"> <input type="submit" value="Find" name="submit" class="btn btn-sm btn-info" /></td>
                            <td>    <a class="btn btn-sm btn-secondary" href="/app/CB/CaseViewFrom?getval=1">Reset</a></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <button class="btn btn-sm btn-light">
                        Export<img style="background-color: #57b362;border-radius: 3px;" src="~/Images/exl.png" />
                    </button>
                    <button class="btn btn-sm btn-light">
                        Export<img src="~/Images/pdf.png" />
                    </button>
                </div>

            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 p-3">
                <div class="shadow card">
                    <div class="card-body">
                        <div class="col-sm-11 row">
                            <div class="pbar1 progress" id="p1" data-toggle="tooltip" data-placement="top" title="Closed">
                                <input type="hidden" value="@botstatobj.WCCaseStatus[3]" id="xp1" />
                                <b class="Count">@botstatobj.WCCaseStatus[0]</b>
                            </div>
                            <div class="pbar2 progress" id="p2" data-toggle="tooltip" data-placement="top" title="In Progress">
                                <input type="hidden" value="@botstatobj.WCCaseStatus[4]" id="xp2" />
                                <b class="Count">@botstatobj.WCCaseStatus[1]</b>
                            </div>
                            <div class="pbar3 progress" id="p3" data-toggle="tooltip" data-placement="top" title="Action Pending">
                                <input type="hidden" value="@botstatobj.WCCaseStatus[5]" id="xp3" />
                                <b class="Count">@botstatobj.WCCaseStatus[2]</b>
                            </div>

                        </div>
                        <br />
                        <div class="col-sm-11 row">
                            <table style=" color: #7f7571;font-size: 14px;">
                                <tr>
                                    <td><div style="height: 16px;background:url(/Images/greentexture.PNG);width: 16px;"></div></td>
                                    <th>Closed :  @botstatobj.WCCaseStatus[2]</th>
                                    <th> </th>
                                </tr>
                                <tr>
                                    <td style="width: 36px;"><div style="height: 16px;background:url(/Images/bluetexture.PNG);width: 16px;"></div></td>
                                    <th>In Progress :  @botstatobj.WCCaseStatus[0]</th>
                                    <th> </th>
                                </tr>
                                <tr>
                                    <td><div style="height: 16px;background:url(/Images/redtexture.PNG);width: 16px;"></div></td>
                                    <th>Pending Action :   @botstatobj.WCCaseStatus[1]</th>
                                    <th> </th>
                                </tr>

                            </table>
                        </div>

                    </div>
                    <div class="card-footer">
                        <b style="color:#6d7979;font-size:12px">Showing data from 23-Mar -till date</b>
                    </div>
                </div>

            </div>

            <div class="col-sm-12">
                <table id="example" class="table-bordered table table-striped table-condensed" style="font-size: 12px;">
                    <thead style="background-color:#1d40b1;color:white;text-align: center;">
                        <tr>
                            <th>Feedback Id</th>
                            <th>Assigned User ID</th>
                            <th>Ragistration Date</th>
                            <th>Resolution Date</th>
                            <th>Stage</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.list != null)
                        {
                            foreach (var item in ViewBag.list)
                            {
                                <tr>
                                    <td>@item.FeedbackId</td>
                                    <td>@item.Issue</td>
                                    <td>@item.Status</td>
                                    <td>@item.BotRemarks</td>
                                    <td>@item.BotDataEntryTime</td>
                                </tr>

                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="card-header" style="border-bottom: #f11a1a;border-bottom-style: solid;height: 56px">
        <form>
            <div class="row">
                <div class="col-md-8">

                    <input type="hidden" name="Flag" value="@botstatobj.flag" />
                    <table style=" color: #5d5d55; font-size: 12px;">
                        <tr>
                            <th>From:</th>
                            <td>
                                <input type="text" class="form-control invoice" autocomplete="off" name="Fromdate" />
                            </td>
                            <th style="padding-left: 21px;">To:</th>
                            <td>
                                <input type="text" class="form-control invoice" autocomplete="off" name="Todate" />

                            </td>
                            <th style="padding-left: 21px;">Filter:</th>
                            <td>
                                <select class="form-control" name="Filter" style="padding: 0px;">

                                    <option value="">Select</option>
                                    <option value="Closed">Closed</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="Pending Action">Pending Action</option>

                                </select>
                            </td>
                            <td style="padding-left: 21px;"> <input type="submit" value="Find" name="submit" class="btn btn-sm btn-info" /></td>
                            <td>    <a class="btn btn-sm btn-secondary" href="/app/CB/CaseViewFrom?getval=1">Reset</a></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <button class="btn btn-sm btn-light">
                        Export<img style="background-color: #57b362;border-radius: 3px;" src="~/Images/exl.png" />
                    </button>
                    <button class="btn btn-sm btn-light">
                        Export<img src="~/Images/pdf.png" />
                    </button>
                </div>

            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 p-3">
                <div class="shadow card">
                    <div class="card-body">
                        <div class="card-body">
                            <canvas id="horizontalBar"></canvas>
                        </div>
                    </div>
                    <div class="card-footer">
                        <b style="color:#6d7979;font-size:12px">Showing data from 23-Mar -till date</b>
                    </div>
                </div>

            </div>


        </div>
    </div>

}

@if (botstatobj.Itypes != null)
{
    <script>
        issuetypename=@Html.Raw(Json.Encode(botstatobj.Itypes.Issuetypes)) ;
    issuetypefigure =@Html.Raw(Json.Encode(botstatobj.Itypes.Issuetypesfigures)) ;
    backcolor =@Html.Raw(Json.Encode(botstatobj.Itypes.IssuetypesBackColor)) ;
    borderColor =@Html.Raw(Json.Encode(botstatobj.Itypes.IssuetypesBordercolor)) ;
    var x = new Chart(document.getElementById("horizontalBar"), {
        "type": "horizontalBar",
        "data": {
            "labels": issuetypename,
            "datasets": [{
                "label": "Issue Type Graph",
                "data": issuetypefigure,
                "fill": false,
                "backgroundColor": backcolor,
                "borderColor": borderColor,
                "borderWidth": 1
            }]
        },
        "options": {
            "scales": {
                "xAxes": [{
                    "ticks": {
                        "beginAtZero": true
                    }
                }]
            }
        }
    });

    </script>
}